/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.iml
*.xml
/public/css/app.css
/public/css/app.js
.idea/workspace.xml
.editorconfig

public/css/mwa.css
